doctype
html
    head
        title bmi calculator
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
            h3 bmi calculator
            div.jumbotron
                div.row
                    div.col-sm-5
                        form(role='form', action='', method='post', enctype='multipart/form-data')
                            .form-group
                                label(for='height') Your height (centimeters):
                                -if (locals.formData)
                                    input#height(type='number', name='height', placeholder='#{formData.height}', required)
                                -else
                                    input#height(type='number', name='height', required)
                            .form-group
                                label(for='weight') Your weight (kilograms):
                                -if (locals.formData)
                                    input#weight(type='number', name='weight', placeholder='#{formData.weight}', required)
                                -else
                                    input#weight(type='number', name='weight', required)

                            button.btn.btn-primary(type='submit') Submit

                    div.col-sm-5
                        div.row
                            h3 your bmi: #{bmi}
